spring:
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  flyway:
    clean-disabled: true

logging:
  level:
    root: WARN
    com.waterballsa: INFO
    org.springframework.web: WARN
    org.springframework.security: WARN
    org.hibernate: WARN

server:
  error:
    include-stacktrace: never
    include-exception: false
    include-message: never

rate-limit:
  enabled: true
  requests-per-hour: 1000
