spring:
  datasource:
    url: jdbc:tc:postgresql:14:///waterballsa
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  flyway:
    enabled: true
    clean-disabled: false

  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    root: INFO
    com.waterballsa: DEBUG
    org.springframework.test: INFO
    org.testcontainers: INFO
